{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    

<h1>Post</h1>

<form action="/posts/create/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ post_form }}
    <button type="submit">Post</button>
</form>

<div class="post-list">
{% for post in posts %}
    <div class="post card">
        <div class="carousel slide" id="post-carousel-{{post.pk}}">
            <div class="carousel-inner">
            {% for m in post.postmedia_set.all %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <img src="{{ m.file.url }}" alt="post" />
                </div>
            {% endfor %}
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#post-carousel-{{post.pk}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#post-carousel-{{post.pk}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <p class="card-text"><span class="post-author">{{ post.author }}</span>{{ post.content }}</p>
    </div>
{% endfor %}
</div>


</main>
{% endblock %}

{% block script %}
<script src="{% static 'js/all-post-list.js' %}"></script>
{% endblock script %}